* {
    box-sizing: border-box;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
html {
    height: 100%;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}
body {
    margin: 0;
}
main {
    display: block;
}
h1 {
    font-size: 2em;
    margin: 0.67em 0;
}
hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}
pre {
    font-family: monospace, monospace;
    font-size: 1em;
}
a {
    background-color: transparent;
}
abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted;
}
b,
strong {
    font-weight: bolder;
}
code,
kbd,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}
small {
    font-size: 80%;
}
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sub {
    bottom: -0.25em;
}
sup {
    top: -0.5em;
}
img {
    border-style: none;
}
button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    outline: none;
    resize: none;
    margin: 0;
}
button,
input {
    overflow: visible;
}
button,
select {
    text-transform: none;
}
button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}
fieldset {
    padding: 0.35em 0.75em 0.625em;
}
legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal;
}
progress {
    vertical-align: baseline;
}
textarea {
    overflow: auto;
}
[type="checkbox"],
[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}
[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}
[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}
::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}
details {
    display: block;
}
summary {
    display: list-item;
}
template {
    display: none;
}
[hidden] {
    display: none;
}

body {
    font-family: Ubuntu;
    font-size: 15px;
    line-height: 100%;
}
/* COMMON STYLES  */

.container {
    max-width: 390px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0px auto;
    padding: 0px 15px;
}
.footer {
    text-align: center;
    margin-top: auto;
    display: flex;
    flex-direction: column;
}
.button {
    font-weight: 500;
    font-size: 14px;
    line-height: 120%;
    width: 340px;
    color: #fff;
    padding: 11px 0px;
    border: none;
    margin: 0px auto 15px;
    border-radius: 3px;
    background: #132651;
}
.button-active {
    background: #00d69b;
}
.button-transparent {
    border: 2px solid #132651;
    background: none;
    color: #132651;
}
.button-grey {
    color: #ffffff;
    background: rgba(141, 159, 187, 0.5);
}

.header {
    display: flex;
    justify-content: space-between;
    padding-top: 43px;
    width: 340px;
    margin: 15px auto 30px;
}

.header-a {
    font-weight: 500;
    font-size: 15px;
    line-height: 100%;
    padding: 8px 13px;
    border-radius: 50%;
    z-index: 100;
    text-decoration: none;
    background: #fff;
    color: rgba(141, 159, 187, 0.5);
    border: 1px solid rgba(141, 159, 187, 0.5);
    position: relative;
}
.header-line::after {
    content: "";
    position: absolute;
    z-index: -1;
    top: 14px;
    left: 0;
    height: 4px;
    width: 100px;
    background: #e8ecf1;
}
.active {
    color: #fff;
    padding: 8px 9px;
    background: #00d69b;
    border: 1px solid #00d69b;
}
.active-numder {
    color: #fff;
    background: #00d69b;
    border: 1px solid #00d69b;
}
.card {
    width: 340px;
    margin: 0px auto;
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid #e8ecf1;
}
.card-header {
    background: rgba(232, 236, 241, 0.5);
    padding: 15px 20px;
}
.card-header div:nth-child(1) {
    font-size: 18px;
    color: #132651;
}
.card-header div:nth-child(2) {
    font-weight: 500;
    font-size: 15px;
    margin-top: 6px;
    color: #8d9fbb;
}
.card-list {
    padding: 25px 20px 30px;
}
.card-list div {
    font-weight: 500;
    font-size: 18px;
    color: #132651;
}
.card-list div:last-child {
    margin-top: 13px;
}

.card-list li:not(:last-child) {
    margin-bottom: 20px;
}
.card-list li > div:nth-child(1) {
    font-weight: 500;
    font-size: 15px;
    color: #8d9fbb;
}
.card-list li > div:nth-child(2) {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 18px;
    color: #132651;
    margin-top: 6px;
}
.card-list li:nth-child(1){
    display: flex;
    align-items: center;
}
.card-list li:nth-child(1) > div:nth-child(1){
 margin-right: 57px;
}
.card-list li:nth-child(1) > div {
    font-weight: 500;
    font-size: 15px;
    line-height: 100%;
    flex-direction: column;
    color: #8d9fbb;
    margin-top: 0px;
}
.card-list li:nth-child(1) span {
    display: block;
    font-weight: 500;
    font-size: 18px;
    color: #132651; 
    margin-top: 6px;
}
.card-list a {
    font-weight: 500;
    font-size: 18px;
    color: #132651;
}
.card-list img {
    margin-right: 5px;
}
.card-slider {
    border-radius: 5px;
}
.card-title {
    font-weight: 500;
    font-size: 15px;
    color: #000;
    margin: 20px 0px 15px;
}
.slider-photo {
    width: 341px;
    margin: 0px auto;
    overflow: hidden;
    margin-bottom: 20px;
}
.card-slider button {
    border: none;
    background: none;
    position: absolute;
    right: 5px;
    top: 10px;
}
.card-img {
    max-width: 345px;
    max-height: 300px;
}
.modal-container {
    display: none;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}
.modal-container.__active {
    display: flex;
}
.modal {
    width: 345px;
    background: #fff;
    padding: 58px 24px;
    text-align: center;
    border-radius: 15px;
    border: 1px solid rgba(141, 159, 187, 0.33);
}
.modal-title {
    font-weight: bold;
    font-size: 23px;
    line-height: 120%;
    text-align: center;
    margin: 8px 0px 28px;
    color: #132651;
}
.modal button {
    width: 275px;
}
.modal-text {
    font-weight: 500;
    font-size: 18px;
    line-height: 120%;
    color: #e97000;
}
.main-total {
    height: 80vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.total-title {
    margin: 0px auto;
    text-align: center;
    font-family: Ubuntu;
    font-weight: bold;
    font-size: 28px;
    line-height: 120%;
    width: 305px;
    color: #132651;
}

.document {
    display: flex;
    flex-direction: column;

    margin-top: 23px;
}
.document svg {
    margin-right: 13px;
}
.document button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    cursor: pointer;
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    color: #8d9fbb;
}
.document button:nth-child(1) {
    margin-bottom: 21px;
}

/* MODAL.HTML */
.modal-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.modal-content > .modal-container {
    display: flex;
}
